flows.json
[{"id":"7438febf.008ee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98fdd6a8.ea85a8","type":"function","z":"7438febf.008ee","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rbc\",msg.payload.rbc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bgr\",msg.payload.bgr)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"sod\",msg.payload.sod)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"appet\",msg.payload.appet)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"cFIEpeEG-2uTPDXdhJ4L2Y7rfllHdZ6dM_4lfubd7wMl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["8a063e4a.93ec7"]]},{"id":"8a063e4a.93ec7","type":"http request","z":"7438febf.008ee","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":true,"proxy":"","authType":"","x":510,"y":460,"wires":[["53386c05.baddf4"]]},{"id":"dbb97192.a966e","type":"debug","z":"7438febf.008ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":360,"wires":[]},{"id":"53386c05.baddf4","type":"function","z":"7438febf.008ee","name":"Pre Prediction","func":"var id = global.get('id')\nvar age = global.get('age')\nvar bp = global.get('bp')\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rbc = global.get('rbc')\nvar pc = global.get('pc')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bgr = global.get('bgr')\nvar bu = global.get('bu')\nvar sc = global.get('sc')\nvar sod = global.get('sod')\nvar pot = global.get('pot')\nvar hemo = global.get('hemo')\nvar pcv = global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn= global.get('htn')\nvar dm = global.get('dm')\nvar cad = global.get('cad')\nvar appet = global.get('appet')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\nvar token=msg.payload.access_token\nvar instance_id=\"588112c6-5147-46a2-af59-eac571f7d4aa\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\",\"age\",\"bp\",\"sg\",\"al\",\"su\",\"rbc\",\"pc\",\"pcc\",\"ba\",\"bgr\",\"bu\",\"sc\",\"sod\",\"pot\",\"hemo\",\"pcv\",\"wc\",\"rc\",\"htn\",\"dm\",\"cad\",\"appet\",\"pe\",\"ane\"],\"values\": [[id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane]]}]}\nreturn msg","outputs":1,"noerr":0,"x":716.0000076293945,"y":411.9999990463257,"wires":[["59cc7fa3.40804"]]},{"id":"59cc7fa3.40804","type":"http request","z":"7438febf.008ee","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3acad3e7-463f-445d-ae17-b890341956f8/predictions","tls":"","persist":true,"proxy":"","authType":"","x":809.5000076293945,"y":355.9999990463257,"wires":[["dbb97192.a966e","4273c691.cd2ce8"]]},{"id":"4273c691.cd2ce8","type":"function","z":"7438febf.008ee","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":669.6000366210938,"y":251.60000133514404,"wires":[["8a6d5087.6e81e"]]},{"id":"8b628522.2f0128","type":"ui_form","z":"7438febf.008ee","name":"","label":"","group":"fb493726.5b1fe8","order":0,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"bp","value":"bp","type":"number","required":true,"rows":null},{"label":"sg","value":"sg","type":"number","required":true,"rows":null},{"label":"al","value":"al","type":"number","required":true,"rows":null},{"label":"su","value":"su","type":"number","required":true,"rows":null},{"label":"rbc","value":"rbc","type":"text","required":true,"rows":null},{"label":"pc","value":"pc","type":"text","required":true,"rows":null},{"label":"pcc","value":"pcc","type":"text","required":true,"rows":null},{"label":"ba","value":"ba","type":"text","required":true,"rows":null},{"label":"bgr","value":"bgr","type":"number","required":true,"rows":null},{"label":"bu","value":"bu","type":"number","required":true,"rows":null},{"label":"sc","value":"sc","type":"number","required":true,"rows":null},{"label":"sod","value":"sod","type":"number","required":true,"rows":null},{"label":"pot","value":"pot","type":"number","required":true,"rows":null},{"label":"hemo","value":"hemo","type":"number","required":true,"rows":null},{"label":"pcv","value":"pcv","type":"text","required":true,"rows":null},{"label":"wc","value":"wc","type":"text","required":true,"rows":null},{"label":"rc","value":"rc","type":"text","required":true,"rows":null},{"label":"htn","value":"htn","type":"text","required":true,"rows":null},{"label":"dm","value":"dm","type":"text","required":true,"rows":null},{"label":"cad","value":"cad","type":"text","required":true,"rows":null},{"label":"appet","value":"appet","type":"text","required":true,"rows":null},{"label":"pe","value":"pe","type":"text","required":true,"rows":null},{"label":"ane","value":"ane","type":"text","required":true,"rows":null}],"formValue":{"id":"","age":"","bp":"","sg":"","al":"","su":"","rbc":"","pc":"","pcc":"","ba":"","bgr":"","bu":"","sc":"","sod":"","pot":"","hemo":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","appet":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":460,"wires":[["98fdd6a8.ea85a8"]]},{"id":"8a6d5087.6e81e","type":"ui_text","z":"7438febf.008ee","group":"fb493726.5b1fe8","order":1,"width":0,"height":0,"name":"","label":"Predicted Output","format":"{{msg.payload}}","layout":"col-center","x":990,"y":240,"wires":[]},{"id":"fb493726.5b1fe8","type":"ui_group","z":"","name":"Chronic KIdney Disease ","tab":"37f54619.3e987a","order":1,"disp":true,"width":"6","collapse":false},{"id":"37f54619.3e987a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]